<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l3_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1445,274},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1158,274},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{871,274},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{584,274},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{297,274},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,274},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1732,10},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1445,10},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1158,10},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{871,10},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{584,10},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{297,10},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
            <key>l3_9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,10},{254,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,277}}</string>
                <key>sourceSize</key>
                <string>{254,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layer3.jpg</string>
            <key>size</key>
            <string>{1996,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9477890b9332e4eedd9560fc480d9946:1/1$</string>
            <key>textureFileName</key>
            <string>layer3.jpg</string>
        </dict>
    </dict>
</plist>
