<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l1_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,1052},{344,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,595}}</string>
                <key>sourceSize</key>
                <string>{344,595}</string>
            </dict>
            <key>l1_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,703},{344,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,595}}</string>
                <key>sourceSize</key>
                <string>{344,595}</string>
            </dict>
            <key>l1_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{605,605},{344,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,595}}</string>
                <key>sourceSize</key>
                <string>{344,595}</string>
            </dict>
            <key>l1_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,354},{344,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,595}}</string>
                <key>sourceSize</key>
                <string>{344,595}</string>
            </dict>
            <key>l1_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{605,5},{344,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,595}}</string>
                <key>sourceSize</key>
                <string>{344,595}</string>
            </dict>
            <key>l1_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{344,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,595}}</string>
                <key>sourceSize</key>
                <string>{344,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layer1.jpg</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bc6e9abf21661e99b74ec60388e28ea:1/1$</string>
            <key>textureFileName</key>
            <string>layer1.jpg</string>
        </dict>
    </dict>
</plist>
