<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l5_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{814,742},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{412,742},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,742},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1216,412},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{814,498},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{412,498},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,498},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{814,254},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{412,254},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,254},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1216,10},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,498},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{814,10},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{412,10},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
            <key>l5_9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,10},{234,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,392}}</string>
                <key>sourceSize</key>
                <string>{234,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layer5.jpg</string>
            <key>size</key>
            <string>{1460,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b639d73c79cb8b06ed12d5ff53b58bac:1/1$</string>
            <key>textureFileName</key>
            <string>layer5.jpg</string>
        </dict>
    </dict>
</plist>
