<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l4_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2953,2},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2322,2},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1264},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1742,633},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1742,2},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1264},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1162,633},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{582,1264},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{582,633},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
            <key>l4_9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{578,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,629}}</string>
                <key>sourceSize</key>
                <string>{578,629}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layer4.jpg</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70341ea8904b2a476dc549b63d8ccea9:1/1$</string>
            <key>textureFileName</key>
            <string>layer4.jpg</string>
        </dict>
    </dict>
</plist>
