<div class="toast-wrap">
  <div class="toast"></div>
</div>
<script src="https://static.souyidai.com/wap/js/zepto.min.js"></script>
<script src="https://static.souyidai.com/wap/2.0/scripts/util.js"></script>
