<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= title %></title>
  <script src="https://static.souyidai.com/wap/2.0/scripts/flexible.js"></script>
  <link rel="stylesheet" href="https://static.souyidai.com/wap/2.0/styles/shake.css">
</head>
