<!doctype html>
<html lang="">
<%- include('../common/head', {title: '登录/退出'}) %>
<body class="wechat">
  <% if(accountInfo.enable) {%>
  <div class="wechat-login-disable">
    <p class="wechat-login-name"><%= accountInfo.username %></p>
    <p class="wechat-mark"><i class="icon-vip"></i>搜易贷会员</p>
  </div>
  <div class="btn-box">
    <button class="btn btn-default btn-block" id="disable">安全退出</button>
  </div>
  <% } else {%>
  <div class="wechat-login">
    <img src="https://static.souyidai.com/wap/2.0/images/souyidai_logo@2x.png" alt="" class="logo">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="手机号/昵称/邮箱" id="username">
      <p class="help-block"></p>
      <span class="input-icon"></span>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="登录密码" id="password">
      <p class="help-block"></p>
      <span class="input-icon"></span>
    </div>
  </div>
  <div class="btn-box">
    <button class="btn btn-default btn-block" id="enable">登录</button>
  </div>
  <div class="register-backpwd">
    <a href="https://passport.souyidai.com/password/findpassword">找回登录密码</a>
    <a class="pull-right" href="javascript:void(0)" id="regist">免费注册</a>
  </div>
  <% }%>
  <%- include('../common/foot') %>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script>
  $(function() {
    $.ajax({
      url: '/serve/jssign',
      type: 'GET',
      dataType: 'json',
      data: {
        url: location.href
      },
      success: function(res) {
        if (res.errorCode === 0) {
          wx.config(res.result);
        }
      }
    });
    wx.ready(function() {
      wx.hideOptionMenu();
    });
    $('#enable').on('click', function() {
      disBtn($(this));
      $(this).text('提交中');
      $.ajax({
        url: '/page/account',
        type: 'POST',
        data: {
          openid: parserUrl(location.href).search.openid || '',
          type: parserUrl(location.href).search.type || '',
          username: $('#username').val(),
          password: $('#password').val()
        },
        dataType: 'json',
        success: function(res) {
          if (res.errorCode === 0) {
            toastShow('登录成功!');
            $('#enable').text('登录');
            setTimeout(function () {
              wx.closeWindow();
            },1000);
          } else {
            toastShow(res.errorMessage);
            enBtn($('#enable'));
            $('#enable').text('登录');
          }
        }
      });
    });
    $('#disable').on('click', function() {
      disBtn($(this));
      $(this).text('登录中');
      $.ajax({
        url: '/page/account_disable',
        type: 'POST',
        data: {
          openid: parserUrl(location.href).search.openid || ''
        },
        dataType: 'json',
        success: function(res) {
          if (res.errorCode === 0) {
            toastShow('退出成功!');
            setTimeout(function () {
              location.href = 'https://weixin.souyidai.com/page/logout';
            },1000);
          } else {
            toastShow(res.errorMessage);
          }
        },
        complete: function  () {
          enBtn($('#disable'));
          $('#disable').text('安全退出');
        }
      });
    });
    $('#regist').on('click', function() {
      location.href = 'https://weixin.souyidai.com/m/regist?openid=' + parserUrl(location.href).search.openid + '&type=' + parserUrl(location.href).search.type;
    });
  });
  </script>
  <%- include('../common/pv') %>
</body>
</html>
