<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l6_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>l6_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{182,542},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>l6_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{183,182},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>l6_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{179,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,178}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>l6_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>l6_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{183,362},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>l6_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layer6.jpg</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c3cebbc351e3189f06b5a824beb4536:1/1$</string>
            <key>textureFileName</key>
            <string>layer6.jpg</string>
        </dict>
    </dict>
</plist>
