<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l2_1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,1594},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{254,1474},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,1418},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,1242},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{254,1230},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,1066},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{254,986},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,890},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{254,742},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,714},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,538},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{254,498},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_5.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,362},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_6.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{254,254},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_7.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,186},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_8.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{254,10},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
            <key>l2_9.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,10},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,166}}</string>
                <key>sourceSize</key>
                <string>{234,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layer2.jpg</string>
            <key>size</key>
            <string>{430,1770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b632f7864036bdbd60ede440960fea:1/1$</string>
            <key>textureFileName</key>
            <string>layer2.jpg</string>
        </dict>
    </dict>
</plist>
