<!doctype html>
<html lang="">
<%- include('../common/head', {title: '提示'}) %>
<body class="wechat">
  <div class="wechat-id5-tip">
    <i class="icon-tip-blue"></i>
    <p class="id5-tip-text">实名认证后即可充值投资<br>年利率9.88%的短期优质项目</p>
    <img src="https://static.souyidai.com/wap/2.0/images/wechat/id5_progress@2x.png" alt="" class="id5-tip-progress">
  </div>
  <div class="btn-box">
    <a class="btn btn-default btn-block" href="/m/id5_auth">立即认证</a>
  </div>
  <%- include('../common/foot') %>
  <%- include('../common/pv') %>
</body>
</html>
