<!doctype html>
<html lang="">
<%- include('../common/head', {title: '注册完成'}) %>
<body class="wechat">
  <div class="wechat-id5-tip no-border-bottom"> <i class="icon-check-green"></i>
    <p class="id5-tip-text">已成功注册搜易贷</p>
    <img src="https://static.souyidai.com/wap/2.0/images/wechat/id5_progress@2x.png" alt="" class="id5-tip-progress"></div>
  <p class="invest-result-tip"><i class="icon-warn"></i>实名认证后即可投资30天期限、年利率9.88%的投资项目</p>
  <div class="btn-box">
    <a class="btn btn-default btn-block" href="/m/id5_auth">立即认证</a>
  </div>
  <%- include('../common/foot') %>
  <%- include('../common/pv') %>
</body>
</html>
